.campo {
    text-align: center;
}
.displayFlex {
    display: flex;
    gap: 1rem;
}
.eltotal {
    text-align: center;
}
.eltotal button {
    background-color: rgb(251, 255, 0);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 700;
}


.contenedorPelotas p {
    color: black;
    font-weight: 700;
}
.contenedorPelotas {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.contenedor-pagar-vaciar {
    margin-top: 0.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contenedor {
    
    gap: 3rem;
    margin-top: 3rem;
    margin: auto 20px;
    margin-top: 3rem;
}
.botondelcarrito {
    text-align: center;
    margin-top: 2rem;

}
.ggg{
    display: flex;
    justify-content: center;
}
.ggg button {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
}
.botondelcarrito2 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 4rem;
}
.botondelcarrito2 button {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
}
.botondelcarrito button {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
}
.svgclear svg:hover {
    background-color: yellow;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contenedorPelotas {
        border: 1px solid rgb(122, 122, 122);
        width: 23rem;
        height: 22rem;
        text-align: center;
        
        
    }
    .contenedorPelotas p {
        color: black;
        font-weight: 700;
    }
    .contenedor {
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        gap: 3rem;
        margin-top: 3rem;
        margin: auto 20px;
        margin-top: 3rem;
    }
}