.mayor {
    width: 50%;
    border: 1px solid rgb(145, 145, 145);
    background-color: white;
    border-radius: 15%;
    
    
    margin-top: 4rem;
    
    
}

.hola img {
    width: 50%;
    margin-top: 10px;
    
    
    
    
}
.hola {
    margin: auto 20px;
}
.hola h3 {
    font-family:'Saira Stencil One', cursive;
    color: rgb(0, 0, 0);
    border-radius: 2%;
}
