body {
    background-color: grey;
}
.navbar-mayor a {
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 0)
    
}

.navbar-mayor {
    display: flex;
    justify-content: space-around;
    background-color: beige;
}
.carrito {
    display: flex;
    align-items: center;
    cursor: pointer;
}
