body {
    margin: 0;
}
@media (min-width: 768px) {
     

.navbar-mayor a {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family:'Saira Stencil One', cursive;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
}

.navbar-mayor {
    display: flex;
    gap: 3rem;
}

.gg {
    display: flex;
    justify-content: space-between;
    background-color: black;
    
}
.carro{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.gg a {
    display: flex;
    justify-content: center;
}
.copa {
    width: 7%;
    height: 4rem;

}
.copa img {
    width: 100%;
    height: 100%;
}
}

@media (max-width: 768px) {
    .navbar-mayor a {
        margin-top: 20px;
        margin-bottom: 20px;
        text-decoration: none;
        font-family:'Saira Stencil One', cursive;
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
    }
    
    .navbar-mayor {
        display: flex;
        flex-direction: column;
    }
    
    .gg {
        display: flex;
        flex-direction: column;
        background-image: url(../../img/champions-champions-league-football-uefa-wallpaper-preview.jpg);
    }
    .carro{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gg a {
        display: flex;
        justify-content: center;
    }
    .copa {
        display: flex;
        justify-content: center;
    
    }
    .copa img {
        width: 20%;
        height: 20%;
    }
}