@media (min-width: 768px) {
     

.gigante {
    display: grid;
    grid-template-columns: repeat(2 , 1fr );
    text-align: center;
    place-items: center;
    gap: 2rem;
    

    background-image: url(../../img/champions-champions-league-football-uefa-wallpaper-preview.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

}

@media (max-width: 768px) {
    .gigante {
        display: grid;
        grid-template-columns: repeat(1 , 1fr );
        text-align: center;
        place-items: center;
        gap: 2rem;
        
    
        background-image: url(../../img/champions-champions-league-football-uefa-wallpaper-preview.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        
    }
     
}